<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Anime Finder</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1>Welcome to anime finder!!!</h1>
            <form method="post" action="/result">
       <input type="text" name="anime_name" placeholder= "Enter anime name here" size="30"><br>
        <br>
        <input type="submit" value="Search">
        
        
      </form>
    </div>
    
  </body>
</html>
