<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Anime Finder</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Pure CSS -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" 
    integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" 
    crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js">
      
    </script>
    <style>
    
      html, body {
        padding:0;
        margin:0;
        height:100%;
      }
      
      h1{
        color: #ffe123;
      }
      
      #upperHalf {
        height:50vh;
        background-image: url("index_cover.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, 0.6);
        
      }
      #lowerHalf {
        background: #fff1e6;
        height:50vh;
      }
      #center {
        position: absolute;
        text-align:center;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    </style>
  </head>
  <body>
  <div class="container-fluid">

      <div id="upperHalf" class="row" >
        <div class="col-12"> 
          <div id="center"> <h1>Welcome to anime finder!</h1>
            <form method="post" action="/result">
              <input type="text" name="anime_name" placeholder= "Enter anime name here">
              &nbsp
              <button class='pure-button'>Search</button>
            </form>
          </div>
          
        </div>
      </div>
      <div id="lowerHalf" class="row">
          <div class="col-12"> 

          </div>
      </div>
        
  </body>
</html>
