<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Anime found</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <style>
      * {
        box-sizing: border-box;
      }
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
      #img {
        background: red;
        /*position: relative;*/
        /*height:50vh;*/
      }
      #desc {
        /*height:50vh;*/
        background:#E8ECF1;
      }
      
      #review{
       color:#5294ED;
      }
      
    </style>
  </head>
  <body>
  
<div class="row">
  
  <div class="col-xs-12 col-md-4" id="img">
    
      <div class="col-xs-6">
        <h2><%= @user_anime[:anime_titles][0] %></h2>
        <h3>Rating: <%= @user_anime[:anime_ratings][0] %>/10</h3>
      </div>
      <div class="col-xs-6">
        <img class="img-responsive" src="<%= @user_anime[:anime_images][0] %>">
       </div>
       
  </div>

  
  <div class="col-xs-12 col-md-8 " id="desc">
    <p id="review"><%= @user_anime[:anime_synopsis][0] %></p>
  </div>
  
</div>

  </body>
</html>
